{
  "singleQuote": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "printWidth": 100,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["src/services/access/api-client/**/*.{ts,tsx}"],
      "options": {
        "requirePragma": true
      }
    }
  ]
}
